@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Light.ttf');
	font-weight: normal;
	font-display: swap;
}

$colors: #CFD4C5, #EECFD4, #EFB9CB, #E6ADEC, #C287E8;
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: -webkit-linear-gradient(left top, darken(nth($colors, random(length($colors))), 30%), darken(nth($colors, random(length($colors))), 30%), darken(nth($colors, random(length($colors))), 5%), white 100%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 14px;
  min-width: 400px;
  -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
#container {
  display: flex;
  background: white;
  border-radius: 50%;
  height: 400px;
  padding: 10px;
  min-width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#logo {
  display: inline-block;
  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    width: 120px;
    height: 120px;
    animation: colorshift 20s infinite;
    -webkit-animation: colorshift 20s infinite;
    
}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes unspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes unspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes unspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-webkit-keyframes colorshift {
  0% { -webkit-filter: hue-rotate(80deg); }
  // 25% { -webkit-filter: hue-rotate(350.3deg); }
  // 50% { -webkit-filter: hue-rotate(239deg); }
  // 75% { -webkit-filter: hue-rotate(230deg); }
  50% { -webkit-filter: hue-rotate(276.5deg); }
  100% { -webkit-filter: hue-rotate(80deg); }
}
@keyframes colorshift {
  0% { filter: hue-rotate(80deg); }
  20% { filter: hue-rotate(350.3deg); }
  40% { filter: hue-rotate(239deg); }
  60% { filter: hue-rotate(230deg); }
  80% { filter: hue-rotate(276.5deg); }
  100% { filter: hue-rotate(80deg); }
}

#scss {
    font-family: 'Open Sans', sans-serif;
    color: darken(nth($colors, random(length($colors))), 30%);

    &:hover {
      color: darken(nth($colors, random(length($colors))), 30%);
    }
  }